*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #181818;
}

/* FOR NAVBAR */
.navbar{
    background-color: black !important;
    padding-left: 5%;
    padding-right: 5%;
}

.navbar-brand{
    font-weight: bold;
    color: white;
    font-size: 25px;
}

.n{
    color: red !important;
}

.navbar-brand:hover{
    color: red !important;
    transition: 0.5s;
}

.custom-toggler.navbar-toggler{
    border: none;
}

.navbar-toggler-icon{
    color: white;
}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link{
    color: white !important;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-link:hover, .nav-link:focus{
    color: red !important;
    transition: 0.5s;
}

.nav-link.signup{
    color: red !important;
    border: 1.5px solid red;
    border-radius: 4px;
}

/* FOR CONTENT */

.content{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    /* min-height: 759px; */
}

p{
    color: white;
}

form{
    color: white;
}


#signUp_btn{
    background-color: black;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
}

#signUp_btn:active{
    background-color: red;
    color: black;
}

legend{
    font-weight: bold;
}

.card{
    border: none;
}

.card-text{
    color: black;
}

/* FOR FOOTER */
.footer{
    background-color: black;
    color: red;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    height: 6vh;
    align-items: center;
}